.nav {
    display: flex;
    justify-content: end;
}

.nav button {
    display: none;
}


@media screen and (max-width: 768px) {
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        background-color: var(--color-white);
        padding: 0 var(--padding-1);
        height: 4.6rem;
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
        margin: 0;
    }

    .nav button {
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 2rem;
    }

    .nav button span {
        font-size: 2rem;
    }
}