@import "root_style.css";
@import "sidebar_style.css";

.container {
    display: grid;
    height: 100%;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 16rem auto;
}


/* main */

main {
    margin-top: 1.4rem;
}

main .nav {
    display: flex;
    justify-content: end;
}

main .nav button {
    display: none;
}

main h2 {
    display: inline-block;
    border-bottom: 2px solid var(--color-secondary);
    margin-bottom: 0.5rem;
}

.active-retruns-table {
    margin-top: 1rem;
}

.received-retruns-table {
    margin-top: 1rem;
}

main .active-retruns-table, .received-retruns-table {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
}

main .active-retruns-table table, .received-retruns-table table {
    border-spacing: 0;
    width: 100%;
    min-height: 5rem;
    text-align: center;
}

main table thead th {
    height: 2.8rem;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark);
}

.active-retruns-table table tr td:first-child, .received-retruns-table table tr td:first-child {
    padding-left: 0.5em;
}

.received-retruns-table-header {
    display: flex;
    justify-content: space-between;
}

.search-box-container {
    width: fit-content;
    display: inline-flex;
    float: right;
}

.search-box-container form {
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: var(--border-radius-1);
    border: 1px solid var(--color-secondary);
    color: var(--color-dark);
}

/* end of main */


/* pagination.css */

.pagination-container {
    text-align: right;
    justify-items: right;
    margin-top: 1rem;
}

.pagination {
    display: flex;
    list-style: none;
    justify-content: right;
    padding: 0;
    margin: 0;
}

.pagination > li {
    display: inline;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    width: 3rem;
    padding: 6px 12px;
    margin-left: -1px;
    text-align: center;
    line-height: 1.42857143;
    color: var(--color-dark);
    text-decoration: none;
    background-color: var(--color-white);
    border: 1px solid #ddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}

.pagination > .active > span,
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus {
    z-index: 2;
    color: var(--color-white);
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    cursor: default;
}

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}

@media screen and (max-width: 1300px) {
    .container {
        grid-template-columns: 7rem auto;
    }

    thead tr th:nth-child(3) {
        display: none;
    }

    tbody tr td:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        height: auto;
        grid-template-columns: 1fr;
        padding-bottom: 2rem;
    }

    main {
        height: fit-content;
        margin-top: 7rem;
        padding: 0 1rem;
    }

    .received-retruns-table-header h2 {
        margin: 0;
    }

    .received-retruns-table-header {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-bottom: 0.5rem;
    }

    thead tr th:nth-child(5) {
        display: none;
    }

    tbody tr td:nth-child(5) {
        display: none;
    }

    main .nav {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        background-color: var(--color-white);
        padding: 0 var(--padding-1);
        height: 4.6rem;
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
        margin: 0;
    }

    main .nav button {
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 2rem;
    }

    main .nav button span {
        font-size: 2rem;
    }
}