@import "root_style.css";
@import "sidebar_style.css";
@import "pagination_syle.css";
@import "navigation_menu_style.css";

.container {
    display: grid;
    height: 100%;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 16rem auto;
}


/* main */

main {
    margin-top: 1.4rem;
}

main h2 {
    display: inline-block;
    border-bottom: 2px solid var(--color-secondary);
    margin-bottom: 0.5rem;
}

.active-retruns-table {
    margin-top: 1rem;
}

.received-retruns-table {
    margin-top: 1rem;
}

main .active-retruns-table, .received-retruns-table {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
}

main .active-retruns-table table, .received-retruns-table table {
    border-spacing: 0;
    width: 100%;
    min-height: 5rem;
    text-align: center;
}

main table thead th {
    height: 2.8rem;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark);
}

.active-retruns-table table tr td:first-child, .received-retruns-table table tr td:first-child {
    padding-left: 0.5em;
}

.received-retruns-table-header {
    display: flex;
    justify-content: space-between;
}

.search-box-container {
    width: fit-content;
    display: inline-flex;
    float: right;
}

.search-box-container form {
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: var(--border-radius-1);
    border: 1px solid var(--color-secondary);
    color: var(--color-dark);
}

/* end of main */


@media screen and (max-width: 1300px) {
    .container {
        grid-template-columns: 7rem auto;
    }

    thead tr th:nth-child(3) {
        display: none;
    }

    tbody tr td:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        height: auto;
        grid-template-columns: 1fr;
        padding-bottom: 2rem;
    }

    main {
        height: fit-content;
        margin-top: 7rem;
        padding: 0 1rem;
    }

    .received-retruns-table-header h2 {
        margin: 0;
    }

    .received-retruns-table-header {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-bottom: 0.5rem;
    }

    thead tr th:nth-child(5) {
        display: none;
    }

    tbody tr td:nth-child(5) {
        display: none;
    }
}