@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #EFB34A;
    --color-secondary: #7f6cc1; /* base: 816eb0, image: 8674f3 */
    --color-secondary-light: #e6e2fe;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #EDB34E;
    --color-white: #fff;
    --color-black: #000;
    --color-dark: #272B37;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-background: #ECECF0; /* base: ECECF0*/

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);

    --color-message-warning: #F3C36B;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background) !important;
}

a {
    color: var(--color-dark);
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

h3 {
    font-weight: 500;
    font-size: 0.87rem;
}

small {
    font-size: 0.76rem;
}

p {
    color: var(--color-dark);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.secondary {
    color: var(--color-secondary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}


/* swal css */
.swal-text {
    font-size: 1.3rem;
}

.swal-button {
    background-color: var(--color-success);
}

.swal-icon--warning {
    border-color: var(--color-primary);
}

.swal-icon--success {
    border-color: var(--color-success);
}

.swal-icon--success__line {
    background-color: var(--color-success);
}

.swal-icon--error {
    border-color: var(--color-danger);
}

.swal-icon--error__line {
    background-color: var(--color-danger);
}

.swal-button--cancel {
    color: var(--color-dark);
    background-color: #DEDDE4;
}

.swal-button--danger {
    background-color: var(--color-danger);
}

.swal-button--danger:hover {
    background-color: var(--color-danger);
}

.swal-overlay {
    margin-top: -20%;
}