@import "root_style.css";
@import "sidebar_style.css";
@import "pagination_syle.css";

.container {
    display: grid;
    height: 100%;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 16rem auto;
}


/* main */

main {
    margin-top: 1.4rem;
}

main .nav {
    display: flex;
    justify-content: end;
}

main .nav button {
    display: none;
}

main h2 {
    display: inline-block;
    border-bottom: 2px solid var(--color-secondary);
}

.stock-item-table-header {
    display: flex;
    justify-content: space-between;
}

.header-add-content button {
    background-color: var(--color-secondary);
    border-radius: var(--border-radius-1);
    font-weight: 550;
    font-size: 1rem;
    color: white;
    padding: 0.4rem 0.7rem 0.4rem 0.4rem;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.header-add-content {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 0.5rem;
}

.add-icon {
    font-size: 20px;
    color: var(--color-white);
}

.search-box-container {
    width: fit-content;
    margin-top: 1rem;
    display: inline-flex;
    float: right;
}

.search-box-container form {
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: var(--border-radius-1);
    border: 1px solid var(--color-secondary);
    color: var(--color-dark);
}

.stock-item-table {
    margin-top: 1rem;
}

main .stock-item-table {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

.stock-item-table table tr td:first-child {
    padding-left: 0.5em;
}

.status-warning {
    border-left: 4px solid var(--color-primary);
}

main .stock-item-table:hover {
    box-shadow: none;
}

main .stock-item-table table {
    margin-top: 1rem;
    border-spacing: 0;
    width: 100%;
    min-height: 5rem;
    text-align: center;
}

main table thead th {
    height: 2.8rem;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark);
}

.increase-quantity-button, .reduce-quantity-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: var(--color-dark);
    transition: all 0.3s ease;
}

.green:hover {
    scale: 1.8;
    color: var(--color-success)
}

.red:hover {
    scale: 1.8;
    color: var(--color-danger)
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Modal content */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-content h2 {
    margin-bottom: 1rem;
}

.form-group {
    margin: 1.3rem 0 1.3rem 0;
}

/* Close button */
.close-form {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.form-control {
    height: 3rem;
    width: 100%;
    font-weight: 500;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--color-secondary);
    color: var(--color-dark);
}

.form-control-description {
    width: 100%;
    font-weight: 500;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--color-secondary);
    color: var(--color-dark);
}


select {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-color: var(--color-white);
    background-position: right 1.2rem top 50%;
    background-size: 0.65rem auto;
}

.send-element {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.send-form {
    border-radius: var(--border-radius-1);
    background-color: var(--color-secondary);
    color: var(--color-white);
    height: 3rem;
    font-weight: 600;
    padding: 0 2.5rem;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

@media screen and (max-width: 1300px) {
    .container {
        grid-template-columns: 7rem auto;
    }

    thead tr th:nth-child(3) {
        display: none;
    }

    tbody tr td:nth-child(3) {
        display: none;
    }

    .modal-content {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        height: auto;
        grid-template-columns: 1fr;
        padding-bottom: 2rem;
    }

    main {
        height: fit-content;
        margin-top: 7rem;
        padding: 0 1rem;
    }

    .stock-item-table-header {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
    }

    .search-box-container {
        margin-bottom: 1rem;
    }

    main .nav {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        background-color: var(--color-white);
        padding: 0 var(--padding-1);
        height: 4.6rem;
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
        margin: 0;
    }

    main .nav button {
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 2rem;
    }

    main .nav button span {
        font-size: 2rem;
    }

    .modal-content {
        max-height: 85% !important;
        overflow-y: scroll !important;
        margin-top: 2.5rem;
        width: 90%;
    }
}