@import "root_style.css";
@import "sidebar_style.css";
@import "modal_form_style.css";
@import "navigation_menu_style.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Sharp");

.container {
    display: grid;
    height: 100%;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 16rem auto;
}

/* main */
main {
    margin-top: 1.4rem;
}

.task-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

.task-content:hover {
    box-shadow: none;
}

.task-card {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: var(--card-padding);
}

.task-heading {
    display: flex;
    border-bottom: 2px solid var(--color-secondary);
    margin: 1.8rem 1.8rem 0 1.8rem;
}

.task-important {
    color: var(--color-danger);
    font-weight: 500;
    font-size: 1.1rem;
}

.task-card-left h3 {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 500;
    border-bottom: 2px solid var(--color-secondary);
    margin: 1.8rem 0 0.5rem 0;
}

.task-date {
    border-top: 2px solid var(--color-secondary);
    text-align: right;
    padding-top: 0.2rem;
    margin: 0 1.8rem 0 1.8rem;
}

.task-assignment img {
    margin: auto;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.task-status-todo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    color: var(--color-white);;
    width: fit-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: var(--card-border-radius);
    background-color: var(--color-primary);
    text-align: center;
    font-size: 1rem;
    margin: 1.5rem auto 0 auto;
}


.task-status-done {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    color: var(--color-white);;
    width: fit-content;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: var(--card-border-radius);
    background-color: var(--color-success);
    text-align: center;
    margin: 1.5rem auto;
}

.buttons-container {
    padding: var(--card-padding);
    display: grid;
    grid-template-columns: 60% 40%;
}

.buttons-left form {
    display: flex;
    gap: 1rem;
}

.buttons-right {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.task-to-complete {
    width: 12rem;
    font-weight: 500;
    color: var(--color-white);
    background-color: var(--color-success);
    border-radius: var(--border-radius-1);
    padding: 1rem;
    cursor: pointer;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.task-to-complete:hover {
    top: -3px;
    box-shadow: var(--box-shadow);
}

.task-to-edit {
    width: 12rem;
    height: 45px;
    font-weight: 500;
    color: #939397;
    background-color: var(--color-white);
    border: 2px solid #939397;
    border-radius: var(--border-radius-1);
    cursor: pointer;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.task-to-edit:hover {
    background-color: #939397;
    color: var(--color-white);
    top: -3px;
    box-shadow: var(--box-shadow);
}

.task-to-delete {
    width: 12rem;
    height: 45px;
    font-weight: 500;
    color: var(--color-danger);
    background-color: var(--color-white);
    border: 2px solid var(--color-danger);
    border-radius: var(--border-radius-1);
    cursor: pointer;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.task-to-delete:hover {
    background-color: var(--color-danger);
    color: var(--color-white);
    top: -3px;
    box-shadow: var(--box-shadow);
}

.comment-content {
    margin: 1.8rem 0 1.8rem 0;
    border-radius: var(--card-border-radius);
    padding: 1.8rem 3.6rem 1.8rem 3.6rem;
    background-color: var(--color-white);
}

.comment-content-container {
    display: grid;
    grid-template-columns: 60% 40%;
}

.comment-section {
    max-height: 9.5rem;
    overflow-y: auto;
}

.comment-form .form-group {
    padding: 0 2rem;
    margin: 0;
}

.comment-form .send-element {
    margin-top: 0.5rem;
}

.delivery-description {
    max-height: 9rem;
    overflow-y: auto;

}

.comment-content h2 {
    border-bottom: 2px solid var(--color-secondary);
    margin-bottom: 0.5rem;
}


.single-commnet-grid {
    display: grid;
    grid-template-columns: 8.5rem 1rem auto;
    text-align: left;
}

@media screen and (max-width: 1300px) {
    .container {
        grid-template-columns: 7rem auto;
    }

    .task-card {
        grid-template-columns: 50% 50%;
    }

    .status-size h2 {
        font-size: 1.2rem;
    }

    .task-assignment img {
        width: 6rem;
        height: 6rem;
    }

    .buttons-container {
        grid-template-columns: 50% 50%;
    }

    .buttons-right {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        height: auto;
        grid-template-columns: 1fr;
        padding-bottom: 2rem;
    }

    main {
        width: 100%;
        height: fit-content;
        margin-top: 7rem;
        padding: 0 1rem;
    }

    .task-card {
        grid-template-columns: 1fr;
        gap: 1.8rem;
    }

    .task-assignment img {
        width: 5rem;
        height: 5rem;
    }

    .status-size h2 {
        font-size: 1.1rem;
    }

    .buttons-container {
        grid-template-columns: 1fr;
    }

    .buttons-left {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
}