{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <title>Shopdex</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/dashboard_style.css' %}"/>

</head>
<body>


<div class="container">
    <!-- Sidebar Section -->
    <aside>
        <div class="toggle">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="">
                <h2>Shopde<span class="danger">x</span></h2>
            </div>
            <div class="close d-none" id="close-btn">
                <span class="material-icons-sharp">
                    close
                </span>
            </div>
        </div>
        <div class="sidebar">
            <div class="user">
                <div class="user_image">
                    <img src="{{ user.userprofile.profile_picture.url }}" alt="">
                    <h2> {{ user.username }}</h2>
                </div>
                <div class="user_rating">
                    <p>
                        <span class="material-icons-sharp">
                            star
                        </span>
                        {% if user.userprofile.position == "Pracownik" %}
                            {{ user_rating }}
                        {% else %}
                            {{ user.userprofile.position }}
                        {% endif %}
                    </p>

                </div>
            </div>
            <a href="#" class="active ">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                <h3>Tablica</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">
                    fact_check
                </span>
                <h3>Zadania</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">
                    local_shipping
                </span>
                <h3>Dostawy</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">
                    report_problem
                </span>
                <h3>Zwroty</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">
                    shopping_cart
                </span>
                <h3>Do zamówienia</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">
                    calendar_month
                </span>
                <h3>Kalendarz</h3>
            </a>
            <a href="#">
                    <span class="material-icons-sharp">
                        notifications
                    </span>
                <h3>Powiadomienia</h3>
                <span class="message-count">12</span>
            </a>
            <a href="#">
                <span class="material-icons-sharp">
                    report_gmailerrorred
                </span>
                <h3>Raporty</h3>
            </a>
            <a href="{% url 'logout_user' %}">
                <span class="material-icons-sharp">
                    logout
                </span>
                <h3>Wyloguj</h3>
            </a>
        </div>
    </aside>
    <!-- End of Sidebar Section-->

    <!-- Main content -->
    <main>
        <h1>Panel główny</h1>

        <!-- Progress Bar Section -->
        <div class="progress_bar">
            <div class="progress_bar_card">
                <div class="task_image">
                    <span class="material-icons-sharp">
                        assignment
                    </span>
                </div>
                <div>
                    <div class="bar_card_content">
                        <h2>20%</h2>
                        <span>Wykonano 2 z 10</span>
                    </div>

                    <div class="progress_bar_empty">
                        <div class="progress_bar_success" style="--width: 20%"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Progress Bar Section -->


        <!-- Delivery Table -->
        <div class="delivery-table">
            <h2>Dostawy</h2>
            <table>
                {% if all_delivery.count == 0 %}
                    <thead>
                    <tr>
                        <th>Brak dostaw</th>
                    </tr>
                    </thead>
                {% else %}
                    <thead>
                    <tr>
                        <th>Dostawca</th>
                        <th>Forma</th>
                        <th>Ilość</th>
                        <th>Opis</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for delivery in delivery_for_dashboard %}
                        <tr>
                            <td>{{ delivery.delivery_company }}</td>
                            <td>{{ delivery.form }}</td>
                            <td>{{ delivery.quantity }}</td>
                            <td>{{ delivery.description }}</td>
                            {% if delivery.status == "W drodze" %}
                                <td class="primary">{{ delivery.status }}</td>
                            {% elif delivery.status == "Odebrana" %}
                                <td class="success">{{ delivery.status }}</td>
                            {% elif delivery.status == "Nie dostarczona" %}
                                <td class="danger">{{ delivery.status }}</td>
                            {% endif %}
                            <td class="primary">Szczegóły</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endif %}
            </table>
            <a href="#">Pokaż wszystkie</a>
        </div>
        <!-- End of Delivery Table -->
        <!-- Tasks Table -->
        <div class="tasks-table" data-tasks="{{ tasks|safe }}">
            <h2>Zadania</h2>
            <table>
                {% if all_tasks.count == 0 %}
                    <thead>
                    <tr>
                        <th>Brak zadań</th>
                    </tr>
                    </thead>
                {% else %}
                    <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Opis</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks_for_dashboard %}
                        <tr>
                            {% if task.is_important %}
                                <td class="important">{{ task.name }}</td>
                            {% else %}
                                <td>{{ task.name }}</td>
                            {% endif %}
                            <td>{{ task.description }}</td>
                            {% if task.status == "Do zrobienia" %}
                                <td class="primary">{{ task.status }}</td>
                            {% elif task.status == "Zrobione" %}
                                <td class="success">{{ task.status }}</td>
                            {% endif %}
                            <td class="primary">Szczegóły</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endif %}
            </table>
            {% if all_tasks.count > 5 %}
                <a href="#">Pokaż wszystkie ({{ all_tasks.count }})</a>
            {% endif %}
        </div>
        <!-- End of Tasks Table -->
    </main>
    <!-- End of Main Content -->

    <!-- Right Section -->
    <div class="right-section">
        <div class="nav">
            <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
            </button>
        </div>

        <!-- Calendar Section -->
        <div class="calendar">
            <span class="month-name" id="month-name"></span>
            <span class="day-name" id="day-name"></span>
            <span class="date-number"> {{ current_date.day }}</span>
            <span class="year"> {{ current_date.year }}</span>
        </div>
        <!-- End of Calendar Section -->

        <!-- Working hour Section -->
        <div class="time-card">
            <h2>Koniec pracy</h2>
            <div class="working-time">
                <span>13:30</span>
            </div>
        </div>
        <!-- End of Working hour Section -->

        <div class="returns">
            <!-- Returns Table -->
            <div class="returns-table">
                <h2>Zwroty</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Ateneum</td>
                        <td class="secondary">Przygotowany</td>
                        <td class="primary">Szczegóły</td>
                    </tr>
                    <tr>
                        <td>Ateneum</td>
                        <td class="warning">Do spakowania</td>
                        <td class="primary">Szczegóły</td>
                    </tr>
                    </tbody>
                </table>
                <a href="#">Pokaż wszystkie</a>
            </div>
            <!-- End of Returns Table -->
        </div>

        <!-- External links section -->
        <div class="external-links">
            <div class="links-section">
                <h2>Szybkie linki</h2>
                <div class="link-conatiner">
                    <div class="baselinker-card">
                        <img src="{% static 'images/external_links/baselinker.png' %}" alt="">
                        <p>Baselinker</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- End of External links section -->

    </div>
    <!-- End of Right Section -->

    <script>
        let current_month = {{ current_date.month }}; // Get the month number (0-11)
        let current_day_name = '{{ day_name }}'; // Get the name of the day
    </script>
    <script src="../static/js/dashboard.js"></script>
</div>
</body>
</html>