{% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
<!-- Sidebar Section -->
<aside>
    <div class="toggle">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="">
            <h2>Shopde<span class="danger">x</span></h2>
        </div>
        <div class="close d-none" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
        </div>
    </div>
    <div class="sidebar">
        <div class="user">
            <div class="user_image">
                <img src="{{ user.userprofile.profile_picture.url }}" alt="">
                <h2> {{ user.username }}</h2>
            </div>
            <div class="user_rating">
                <p>
                            <span class="material-icons-sharp">
                                star
                            </span>
                    {% if user.userprofile.position == "Pracownik" %}
                        {{ user_rating }}
                    {% else %}
                        {{ user.userprofile.position }}
                    {% endif %}
                </p>

            </div>
        </div>
        <a href="{% url 'dashboard' %}" id="link_dashboard">
                        <span class="material-icons-sharp">
                            dashboard
                        </span>
            <h3>Tablica</h3>
        </a>
        <a href="{% url 'task' %}" id="link_task">
                    <span class="material-icons-sharp">
                        fact_check
                    </span>
            <h3>Zadania</h3>
        </a>
        <a href="{% url 'delivery' %}" id="link_delivery">
                    <span class="material-icons-sharp">
                        local_shipping
                    </span>
            <h3>Dostawy</h3>
        </a>
        <a href="{% url 'returns' %}" id="link_return">
                    <span class="material-icons-sharp">
                        report_problem
                    </span>
            <h3>Zwroty</h3>
        </a>
        <a href="{% url 'order_item' %}" id="link_order_item">
                    <span class="material-icons-sharp">
                        shopping_cart
                    </span>
            <h3>Do zamówienia</h3>
        </a>
        <a href="#">
                        <span class="material-icons-sharp">
                            notifications
                        </span>
            <h3>Powiadomienia</h3>
            <span class="message-count">12</span>
        </a>
        <a href="#">
                    <span class="material-icons-sharp">
                        report_gmailerrorred
                    </span>
            <h3>Raporty</h3>
        </a>
        <a href="{% url 'logout_user' %}">
                    <span class="material-icons-sharp">
                        logout
                    </span>
            <h3>Wyloguj</h3>
        </a>
    </div>
</aside>
<!-- End of Sidebar Section-->
</body>
</html>