{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <title>Shopdex</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'media/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/stock_item_style.css' %}"/>

</head>
<body>

<div class="container">
    <!-- Sidebar Section -->
    {% include  "sidebar.html" %}
    <!-- End of Sidebar Section-->

    <!-- Main content -->
    <main>
        <div class="nav">
            <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
            </button>
        </div>
        <h1>Pozycje magazynowe</h1>

        <!-- Stock items table -->
        <div id="stock-item-table" class="stock-item-table">
            <div class="stock-item-table-header">
                <h2>Lista przedmiotów</h2>
                <div class="header-add-content">
                    <button id="stock_item_create_button">
                        <span class="material-icons-sharp add-icon">add</span>
                        <span class="header-text">Dodaj</span>
                    </button>
                </div>
            </div>
            <div class="search-box-container">
                <form id="search-form">
                    <input type="text" id="search-input" placeholder="Wyszukaj..."
                           {% if search_query %}value="{{ search_query }}"{% endif %}>
                </form>
            </div>
            <table id="stock-item-table-content">
                {% if stock_items.count == 0 %}
                    <thead>
                    <tr>
                        <th>Brak przedmiotów na magazynie</th>
                    </tr>
                    </thead>
                    <tbody style="display: none"></tbody>
                {% else %}
                    <thead>
                    <tr>
                        <th></th>
                        <th>Wymiary</th>
                        <th>Opis</th>
                        <th>Ilość</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in page %}
                        <tr>
                            {% if item.quantity <= 20 %}
                                <td class="status-warning">{{ page.start_index|add:forloop.counter0 }}</td>
                            {% else %}
                                <td>{{ page.start_index|add:forloop.counter0 }}</td>
                            {% endif %}
                            <td>{{ item.dimensions }}</td>
                            <td>{{ item.usage|truncatechars:70 }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>
                                <a class="primary"
                                   href="{% url 'stock_item_detail_view' stock_item_id=item.id %}">Szczegóły</a>
                            </td>
                            <td>
                                <span class="material-icons-sharp green increase-quantity-button"
                                      data-id="{{ item.id }}">
                                    add
                                </span>
                            </td>
                            <td>
                                <span class="material-icons-sharp red reduce-quantity-button"
                                      data-id="{{ item.id }}" data-quantity="{{ item.quantity }}">
                                    remove
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        </div>
        <!-- End of Stock items table -->

        <!-- Order item pagiantion bar -->
        {% if page.paginator.num_pages > 1 and not search_query %}
            <div class="pagination-container">
                <ul class="pagination">
                    {% if page.has_previous %}
                        <li><a href="?page=1">&laquo;&laquo;</a></li>
                        <li><a href="?page={{ page.previous_page_number }}">&laquo;</a></li>
                    {% endif %}

                    {% for i in page.paginator.page_range %}
                        {% if page.number == i %}
                            <li class="active"><span>{{ i }}</span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page.has_next %}
                        <li><a href="?page={{ page.next_page_number }}">&raquo;</a></li>
                        <li><a href="?page={{ page.paginator.num_pages }}">&raquo;&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
        <!-- End of Order item pagiantion bar -->
    </main>
    <!-- End of Main content -->

    <!-- Start modal form to add content -->
    <div id="createModal" class="modal">
        <div class="modal-content">
            <span id="close-modal" class="material-icons-sharp close-form">close</span>
            <h2>Dodawanie przedmiotu</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label">Nazwa</label>
                    {% render_field create_stock_item_form.dimensions class="form-control" %}
                </div>
                <div class="form-group">
                    <label class="control-label">Opis</label>
                    {% render_field create_stock_item_form.usage class="form-control-description" %}
                </div>
                <div class="form-group">
                    <label class="control-label">Ilość</label>
                    {% render_field create_stock_item_form.quantity min='1' class="form-control" %}
                </div>
                <div class="send-element">
                    <button class="send-form" name="stock_item_create" type="submit">Dodaj przedmiot</button>
                </div>
            </form>
        </div>
    </div>
    <!-- End of modal form to add content -->

    <!-- Start modal form to increase quantity -->
    <div id="increaseModal" class="modal">
        <div class="modal-content">
            <span id="close-modal" class="material-icons-sharp close-form">close</span>
            <h2>Zwiększanie ilości</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label">
                        Ilosć
                        <input class="form-control" type="number" name="increase_quantity" min="1" required>
                    </label>
                </div>
                <input type="hidden" name="increase_item_id" value="">
                <div class="send-element">
                    <button class="send-form" name="stock_item_increase_quantity" type="submit">Zwiększ ilość</button>
                </div>
            </form>
        </div>
    </div>
    <!-- End of modal form  to increase quantity -->

    <!-- Start modal form to reduce quantity -->
    <div id="reduceModal" class="modal">
        <div class="modal-content">
            <span id="close-modal" class="material-icons-sharp close-form">close</span>
            <h2>Zmniejszenie ilości</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label">
                        Ilosć
                        <input class="form-control" type="number" name="reduce_quantity"
                               min="1" required>
                    </label>
                </div>
                <input type="hidden" name="reduce_item_id" value="">
                <div class="send-element">
                    <button class="send-form" name="stock_item_reduce_quantity" type="submit">Zmniejsz ilość</button>
                </div>
            </form>
        </div>
    </div>
    <!-- End of modal form  to reduce quantity -->

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    const token = '{{ csrf_token }}';

    {%  include 'message_alert.html' %}
</script>
<script src="{% static 'js/stock_item.js' %}"></script>
</body>
</html>