{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <title>Shopdex</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/task_detail_style.css' %}"/>
</head>
<body>
<div class="container">
    <!-- Sidebar Section -->
    {% include  "sidebar.html" %}
    <!-- End of Sidebar Section-->

    <!-- Main content -->
    <main>
        <div class="nav">
            <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
            </button>
        </div>
        <h1>Szczegóły zadania</h1>
        <div class="task-content">
            <div id="sweet-alert-container"></div>
            <div class="task-card">
                <div class="task-card-left" id="task-card-left-id">
                    <div class="task-name"><h2> {{ task.name }}</h2></div>
                    {% if task.is_important %}
                        <div class="task-important">
                            <span>Zadanie ważne </span>
                        </div>
                    {% endif %}
                    <div class="task-description"> {{ task.description|linebreaks }}</div>
                    <div class="task-date"> {{ task.task_date|date:"j E Y" }}</div>
                </div>

                <div class="task-card-right">
                    <div class="task-assignment"><img src="{{ task.assigned_to.profile_picture.url }}" alt=""></div>
                    {% if task.status == 'Do zrobienia' %}
                        <div class="task-status-todo">
                            <span class="material-icons-sharp">schedule</span>
                            {{ task.status }}
                        </div>
                    {% elif task.status == 'Zrobione' %}
                        <div class="task-status-done">
                            <span class="material-icons-sharp">done</span>
                            <h2>{{ task.status }}</h2>
                        </div>
                    {% endif %}

                </div>

            </div>
            <div class="buttons-container">

                <div class="action-buttons-done">
                    {% if task.status == 'Do zrobienia' %}
                        <form method="post">
                            {% csrf_token %}
                            <button class="task-to-complete" name="task_done" type="submit">Zadanie wykonane</button>
                        </form>
                    {% endif %}
                </div>

                <div class="action-buttons">
                    {% if user.userprofile.position == 'Szef' %}
                        <button class="task-to-edit" id="task_edit_button" name="task_edit">Edytuj zadanie
                        </button>
                        <button class="task-to-delete" id="task_delete_button" name="task_delete"
                                onclick="confirmDeleteTask()">Usuń zadanie
                        </button>
                    {% endif %}
                </div>

            </div>
        </div>
    </main>
    <!-- End of Main Content -->

    <!-- Start modal form content -->
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span id="close-modal" class="material-icons-sharp close-form">close</span>
            <h2>Edycja zadania</h2>
            <form method="post" action="{% url 'task_detail_view' task.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label">Nazwa</label>
                    {% render_field task_edit_form.name class="form-control" %}
                </div>
                <div class="form-group">
                    <label class="control-label">Opis</label>
                    {% render_field task_edit_form.description class="form-control-description" %}
                </div>
                <div class="form-group">
                    <label class="control-label">Przypisana osoba</label>
                    {% render_field task_edit_form.assigned_to class="form-control" %}
                </div>
                <div class="form-group">
                    <label class="control-label">Status</label>
                    {% render_field task_edit_form.status class="form-control" %}
                </div>
                <div class="form-group-checkbox">
                    <label class="control-label">Ważne zadanie</label>
                    {% render_field task_edit_form.is_important %}
                </div>
                <div class="form-group">
                    <label class="control-label">Data zadania</label>
                    {% render_field task_edit_form.task_date class="form-control" %}
                </div>
                <div class="send-element">
                    <button class="send-form" name="task_edited" type="submit">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
    <!-- End of modal form content -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        const importnat_task = '{{ task.is_important }}'
        const token = '{{ csrf_token }}'
        const task_id = '{{ task.id}}'
        const user_position = '{{ user.userprofile.position }}'

        // Function to display Django messages as SweetAlert alerts
        function displayMessages() {
            {% for message in messages %}
                let message_type = "{{ message.tags }}";
                let message_text = "{{ message }}";

                // Map Django message types to SweetAlert types
                let swalType = 'info';
                if (message_type === "success") {
                    swalType = 'success';
                } else if (message_type === "error") {
                    swalType = 'error';
                } else if (message_type === "warning") {
                    swalType = 'warning';
                }

                // Display SweetAlert popup
                swal({
                    icon: swalType,
                    title: message_text,
                    timer: 3000, // Auto-close after 3 seconds
                });
            {% endfor %}
        }

        // Call the function when the page loads
        $(document).ready(function () {
            displayMessages();
        });
    </script>
    <script src="{% static 'js/task_detail.js' %}"></script>
</div>
</body>
</html>